In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [37]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)
print(df.columns.values)

['LocationID' 'Borough' 'Zone' 'service_zone']

In [24]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
# df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
# df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [38]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [39]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))
# print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))
print(pd.io.sql.get_schema(df, name='taxi_zone_data', con=engine))

CREATE TABLE taxi_zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [41]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
# df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=300)

In [42]:
df = next(df_iter)

In [43]:
len(df)

265

In [31]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
# df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
# df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [44]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [46]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
# df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
df.head(n=0).to_sql(name='taxi_zone_data', con=engine, if_exists='replace')

0

In [47]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
# %time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
%time df.to_sql(name='taxi_zone_data', con=engine, if_exists='append')

CPU times: user 13.3 ms, sys: 77 µs, total: 13.4 ms
Wall time: 56.9 ms

265

In [36]:
while True: 
    t_start = time()

    df = next(df_iter)

    # df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    # df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    # df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    # df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    # df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    # df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    df.to_sql(name='taxi_zone_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.128 second
inserted another chunk, took 8.118 second
inserted another chunk, took 8.157 second
inserted another chunk, took 8.232 second
inserted another chunk, took 8.214 second
inserted another chunk, took 2.540 second

StopIteration: